<div class="experience-funfacts-area" style="background-image: url(assets/img/bg1.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-4 col-6 col-sm-6">
                <div class="single-experience-funfacts-box">
                    <h3>175<span class="sign">+</span></h3>
                    <p>ACTIVE PROJECT</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 col-sm-12">
                <div class="single-experience-funfacts-box big-box">
                    <h3>30</h3>
                    <p>YEARS OF EXPERIENCE</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-6 col-sm-6">
                <div class="single-experience-funfacts-box">
                    <h3>150<span class="sign">+</span></h3>
                    <p>EXPERT TEAM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="funfacts-shape1"><img src="assets/img/experience-funfacts/funfacts1.jpg" alt="funfacts-shape"></div>
    <div class="funfacts-shape2"><img src="assets/img/experience-funfacts/funfacts2.jpg" alt="funfacts-shape"></div>
    <div class="funfacts-shape3"><img src="assets/img/experience-funfacts/funfacts3.jpg" alt="funfacts-shape"></div>
    <div class="funfacts-shape4"><img src="assets/img/experience-funfacts/funfacts4.jpg" alt="funfacts-shape"></div>
    <div class="funfacts-shape5"><img src="assets/img/experience-funfacts/funfacts5.jpg" alt="funfacts-shape"></div>
</div>