.experience-funfacts-area {
    z-index: 1;
    position: relative;
    background: {
        position: center center;
        repeat: no-repeat;
        color: #F7F8FC;
        size: cover;
    };
    padding: {
        top: 240px;
        bottom: 350px;
    };
    &::before {
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        z-index: -1;
        height: 100px;
        position: absolute;
        background-color: var(--whiteColor);
    }
}
.single-experience-funfacts-box {
    text-align: center;

    h3 {
        line-height: 1;
        font-size: 85px;
        color: var(--secondaryColor);
        margin: {
            bottom: 10px;
            top: -10px;
        };
    }
    p {
        color: var(--blackColor);
        line-height: 1;
        font: {
            size: 20px;
            weight: 500;
            family: var(--headingFontFamily);
        };
    }
    &.big-box {
        h3 {
            background-image: url(../../../../assets/img/number-bg.jpg);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 250px;
            background: {
                size: cover;
                repeat: no-repeat;
                position: top center;
            };
            margin: {
                bottom: 0;
                top: -32px;
            };
        }
        p {
            font-size: 30px;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .experience-funfacts-area {
        padding: {
            top: 60px;
            bottom: 120px;
        };
        .col-xl-4 {
            order: 1;
        }
        &::before {
            height: 50px;
        }
    }
    .single-experience-funfacts-box {
        margin-bottom: 25px;

        h3 {
            font-size: 45px;
            margin: {
                bottom: 10px;
                top: -5px;
            };
        }
        p {
            font-size: 14px;
        }
        &.big-box {
            p {
                font-size: 16px;
            }
            h3 {
                font-size: 135px;
                margin-top: -15px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .experience-funfacts-area {
        padding: {
            top: 80px;
            bottom: 235px;
        };
        &::before {
            height: 80px;
        }
    }
    .single-experience-funfacts-box {
        p {
            font-size: 16px;
        }
        h3 {
            font-size: 60px;
            margin: {
                bottom: 10px;
                top: -5px;
            };
        }
        &.big-box {
            h3 {
                font-size: 150px;
                margin: {
                    bottom: 3px;
                    top: -20px;
                };
            }
            p {
                font-size: 18px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .single-experience-funfacts-box {
        h3 {
            font-size: 80px;
        }
        p {
            font-size: 18px;
        }
        &.big-box {
            p {
                font-size: 25px;
            }
            h3 {
                font-size: 200px;
                margin: {
                    bottom: 5px;
                    top: -25px;
                };
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}