<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-img" style="background-image: url(assets/img/about/about3.jpg);">
                    <img src="assets/img/about/about3.jpg" alt="about-image">
                    <img src="assets/img/experience.png" alt="experience" class="experience style-two">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-text">
                    <span class="sub-title">ABOUT US</span>
                    <h2>We Offer Professional Solutions For Your Business</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamt. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                    <div class="funfacts-list">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="box">
                                    <h3>
                                        <span>175</span><span class="sign">+</span>
                                    </h3>
                                    <p>Active Project</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="box">
                                    <h3>
                                        <span>120</span><span class="sign">+</span>
                                    </h3>
                                    <p>Expert Team</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="box">
                                    <h3>
                                        <span>30</span>
                                    </h3>
                                    <p>Years Experience</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a routerLink="/about" class="default-btn">
                        View More About Us <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>