<div class="how-its-work-area pb-100">
  <div class="container">
    <div class="how-its-work-box">
      <img src="assets/img/how-its-work.jpg" alt="how-we-work">
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-its-work-box">
          <div class="number">01</div>
          <h3> Register</h3>
          <p>Get Registered for Free Demo Course or Online Classes</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-its-work-box">
          <div class="number">02</div>
          <h3>Get a Call From Our Executive</h3>
          <p>Registered User Will Get a Call From Our Team</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-its-work-box">
          <div class="number">03</div>
          <h3>Pay Fee for Training</h3>
          <p>Please select your desired Course and pay the course fee.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-its-work-box">
          <div class="number">04</div>
          <h3>Interview Preparation for job</h3>
          <p>How to Prepare for a Job Interview So You’ll Convince Them You’re the Right Hire.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-its-work-box">
          <div class="number">05</div>
          <h3>Sales and Marketing</h3>
          <p>Sales and marketing are two business functions within an organization they both impact lead generation and
            revenue..</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-its-work-box">
          <div class="number">06</div>
          <h3>Assistance for getting job</h3>
          <p>100% Job Assistance · Assessing the Various Job Options Open to You · Get Professional, Personalized Job
            Guidance.</p>
        </div>
      </div>
    </div>
  </div>
</div>
