<!-- Default Team Section -->
<div
    class="team-area bg-f7f8fc pt-100 pb-75"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR EXPERTS</span>
            <h2>Meet Our Leadership Preparing For Your Success</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team1.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>James Anderson</h3>
                        <span>CEO & Founder</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team2.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Sarah Taylor</h3>
                        <span>PR and Consulting</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team3.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Alexander Doe</h3>
                        <span>Consultant</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team4.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Daisy Lucy</h3>
                        <span>Office Manager</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="shape1 d-none"
        [ngClass]="{'d-block': router.url === '/index-2'}"
    >
        <img src="assets/img/shape/shape1.png" alt="shape">
    </div>
</div>

<!-- Team Section for Home Demo - 3 -->
<div
    class="team-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR EXPERTS</span>
            <h2>Meet Our Leadership Preparing For Your Success</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member bg-f9f9f9">
                    <div class="image">
                        <img src="assets/img/team/team5.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>James Anderson</h3>
                        <span>CEO & Founder</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member bg-f9f9f9">
                    <div class="image">
                        <img src="assets/img/team/team6.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Sarah Taylor</h3>
                        <span>PR and Consulting</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member bg-f9f9f9">
                    <div class="image">
                        <img src="assets/img/team/team7.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Alexander Doe</h3>
                        <span>Consultant</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member bg-f9f9f9">
                    <div class="image">
                        <img src="assets/img/team/team8.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Daisy Lucy</h3>
                        <span>Office Manager</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>