<div class="about-area pt-100" style="background-image: url(assets/img/bg2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about/about1.jpg" alt="about-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content d-flex">
                    <div class="content">
                        <span class="sub-title">ABOUT US</span>
                        <h2>We Offer Professional Solutions For Your Business</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamt. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non provident.</p>
                        <a routerLink="/about" class="default-btn">
                            More About Our Company <i class="flaticon-right"></i>
                        </a>
                    </div>
                    <div class="partner-list">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="item">
                                    <img src="assets/img/partner/partner1.png" alt="partner-image">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="item">
                                    <img src="assets/img/partner/partner2.png" alt="partner-image">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="item">
                                    <img src="assets/img/partner/partner3.png" alt="partner-image">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="item">
                                    <img src="assets/img/partner/partner4.png" alt="partner-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pb-100"></div>
