<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <span class="sub-title">DON’T HESITATE TO ASK QUESTIONS</span>
            <h1>Frequently Asked Questions</h1>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>FAQ</li>
            </ul>
        </div>
    </div>
    <div class="shape4"><img src="assets/img/shape//shape5.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape//shape6.png" alt="shape"></div>
</div>

<div class="faq-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="faq-image" style="background-image: url(assets/img/faq.jpg);">
                    <img src="assets/img/faq.jpg" alt="faq-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="faq-content">
                    <div class="accordion mt-0">
                        <accordion>
                            <accordion-group heading="What problem does your business solve?" [isOpened]="true">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                            <accordion-group heading="How does your business generate income?">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                            <accordion-group heading="What is your pricing strategy and why?">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                            <accordion-group heading="What is your client retention rate?">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                            <accordion-group heading="What is your social media strategy?">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                            <accordion-group heading="What does Qian Consulting do?">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                            <accordion-group heading="What industries do you specialize in?">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                            <accordion-group heading="Can you help us raise money?">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>

<app-partner></app-partner>
