<!-- Page Title -->
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h1>Quality Assurance</h1>
      <ul>
        <li>
          <a routerLink="/">
            Home
          </a>
        </li>
        <li>
          <a routerLink="/courses">
            Courses
          </a>
        </li>
        <li>Quality Assurance </li>
      </ul>
    </div>
  </div>
  <div class="shape4"><img src="assets/img/shape//shape5.png" alt="shape"></div>
  <div class="shape5"><img src="assets/img/shape//shape6.png" alt="shape"></div>
</div>

<!-- Portfolio Details Area -->
<div class="portfolio-details-area ptb-100">
  <div class="container">
    <div class="portfolio-details-image-slides">
      <owl-carousel-o [options]="portfolioDetailsImageSlides">
        <ng-template carouselSlide>
          <div class="image">
            <img src="assets/img/portfolio/portfolio1.jpg" alt="portfolio">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="image">
            <img src="assets/img/portfolio/portfolio2.jpg" alt="portfolio">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="image">
            <img src="assets/img/portfolio/portfolio3.jpg" alt="portfolio">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="image">
            <img src="assets/img/portfolio/portfolio4.jpg" alt="portfolio">
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="portfolio-details-info">
      <ul>
        <li>
          <span>Trainer:</span>

        </li>
        <li>
          <span>Location:</span>
          New York, USA
        </li>
        <li>
          <span>Started Batch:</span>
          April 2023
        </li>
        <li>
          <span>Timeframe:</span>
          3 Months
        </li>
        <li>
          <span>Website:</span>
          <a>Online | Offline | Corporate Training</a>
        </li>
      </ul>
    </div>
    <div class="portfolio-details-desc">
      <h4>About course : Quality Assurance</h4>
      <p>Quality assurance (QA) is any systematic process of determining whether a product or service meets specified
        requirements.
      </p>
      <h4>Course Content</h4>
      <p>Course content are given below:</p>
    </div>

    <div class="faq-area ptb-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="faq-image" style="background-image: url(assets/img/faq.jpg);">
              <img src="assets/img/faq.jpg" alt="faq-image">
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="faq-content">
              <div class="accordion mt-0">
                <accordion>
                  <accordion-group heading="PHASE-1 => Manual Testing" [isOpened]="true">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <ul>
                          <li>Types of testing</li>
                          <li>Testing Life cycle</li>
                          <li>Scenario Creation</li>
                          <li>Severity and Priority</li>
                          <li>Agile Methodoloy</li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <ul>
                          <li>Testing terminology</li>
                          <li>Bug/Defect life Cycle</li>
                          <li>Testcase Creation </li>
                          <li>Level of testing</li>
                        </ul>
                      </div>
                    </div>
                  </accordion-group>
                  <accordion-group heading="PHASE-2 => Core Java">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <ul>
                          <li>OOPS</li>
                          <li>Static, This Keyword</li>
                          <li>Interface</li>
                          <li>String</li>
                          <li>Collection Framework</li>
                          <li>Java8 Features</li>
                          <li>Data Structure</li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <ul>
                          <li>Constructor</li>
                          <li>Inheritance</li>
                          <li>Abstract Class</li>
                          <li>Exception Handling</li>
                          <li>Generics</li>
                          <li>JDBC Programming</li>
                          <li>Coding Problems</li>
                        </ul>
                      </div>
                    </div>
                  </accordion-group>
                  <accordion-group heading="PHASE-3 => Selenium WebDriver">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <ul>
                          <li>Locators in Selenium/li>
                          <li>Using the 'By' locating mechanism</li>
                          <li>Explicit & Implicit Waits</li>
                          <li>Radio Buttons & Checkboxes</li>
                          <li>Frame Switching & Window switching</li>
                          <li>Data Driven Testing</li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <ul>
                          <li>Locating WebElements using WebDriver</li>
                          <li>Actions on WebElements</li>
                          <li>Alert, Prompt & Confirmation</li>
                          <li>Handling Dropdowns - Using Select Class</li>
                          <li>Chrome & IE Browser Handling</li>
                          <li>TestNG framework</li>
                        </ul>
                      </div>
                    </div>
                  </accordion-group>
                  <!-- <accordion-group heading="PHASE-4 => DataBase">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <ul>
                          <li><strong>Adding database</strong></li>
                          <li><strong>Models and DB relation</strong></li>
                          <li><strong>Primary key and foreign key reference</strong></li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <ul>
                          <li><strong>Table plus for sqlite db</strong></li>
                          <li><strong>CRUD operation</strong></li>
                        </ul>
                      </div>
                    </div>
                  </accordion-group> -->
                  <!-- <accordion-group heading="What is your social media strategy?">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                  </accordion-group>
                  <accordion-group heading="What does Qian Consulting do?">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                  </accordion-group> -->
                  <!-- <accordion-group heading="Real Hands on with Ecommerce websites">
                    <p>Designing a system design for ecommerce</p>
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <ul>
                          <li><strong>User models</strong></li>
                          <li><strong>OTP validation</strong></li>
                          <li><strong>Generating authentication token</strong></li>
                          <li><strong>Address management for user</strong></li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <ul>
                          <li><strong>Signup</strong></li>
                          <li><strong>Login</strong></li>
                          <li><strong>Token management from DB</strong></li>
                          <li><strong>User management</strong></li>
                        </ul>
                      </div>
                    </div>
                  </accordion-group> -->
                  <!-- <accordion-group heading="Cloud – Application Deployment on Cloud">
                    <p>AWS Cloud</p>
                    <p>What is AWS</p>
                    <p>Introduction to AWS Services</p>
                    <p>Amazon Cloud Services</p>
                    <p>Create EC2 Instance in AWS</p>
                    <p>Deploy Spring Boot Application on AWS</p>
                    <p>AWS Advanced Research and Development- Live Deployment</p>
                  </accordion-group> -->
                </accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
