<!-- Default Funfacts -->
<div
    class="funfacts-area bg-color pt-100 pb-75"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/services-details'}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6">
                <div class="single-funfacts-box">
                    <i class="flaticon-navigation"></i>
                    <p>We have clients in</p>
                    <h3>68</h3>
                    <p>countries</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
                <div class="single-funfacts-box">
                    <i class="flaticon-rating"></i>
                    <p>Successful work with</p>
                    <h3>750</h3>
                    <p>clients</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
                <div class="single-funfacts-box">
                    <i class="flaticon-layer"></i>
                    <p>Successfully completed</p>
                    <h3>650</h3>
                    <p>projects</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
                <div class="single-funfacts-box">
                    <i class="flaticon-award"></i>
                    <p>Business excellence</p>
                    <h3>15</h3>
                    <p>awards</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Funfacts for Home Demo - 2 & 3 -->
<div
    class="funfacts-area bg-f9f9f9 pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-2' || router.url === '/index-3' || router.url === '/services-details'}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6">
                <div class="single-funfacts-box">
                    <i class="flaticon-navigation"></i>
                    <p>We have clients in</p>
                    <h3>68</h3>
                    <p>countries</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
                <div class="single-funfacts-box">
                    <i class="flaticon-rating"></i>
                    <p>Successful work with</p>
                    <h3>750</h3>
                    <p>clients</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
                <div class="single-funfacts-box">
                    <i class="flaticon-layer"></i>
                    <p>Successfully completed</p>
                    <h3>650</h3>
                    <p>projects</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
                <div class="single-funfacts-box">
                    <i class="flaticon-award"></i>
                    <p>Business excellence</p>
                    <h3>15</h3>
                    <p>awards</p>
                </div>
            </div>
        </div>
    </div>
</div>