<div class="home-slides">
  <owl-carousel-o [options]="homeSlides">
    <ng-template carouselSlide>
      <div class="banner-area">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="banner-content">
                <span class="sub-title">WELCOME TO Extracle Infosys</span>
                <h1>IT Development & QA Services</h1>
                <p>Custom Design, Development, and Quality Assurance services for Web, Mobile app and software projects.
                </p>
                <a routerLink="/about" class="default-btn">
                  Discover More <i class="flaticon-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="banner-image">
                <img src="assets/img/banner/banner-img1.png" alt="banner-image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="banner-area">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="banner-content">
                <span class="sub-title">YOU DREAM IT</span>
                <h1>We Will Make Them True</h1>
                <p>We are pledged to provide you the best suitable option for your career and also committed to work on
                  it to make it true along with you.</p>
                <a routerLink="/about" class="default-btn">
                  Discover More <i class="flaticon-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="banner-image">
                <img src="assets/img/banner/banner-img2.png" alt="banner-image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="banner-area">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="banner-content">
                <span class="sub-title">Extracle Infosys CONSULING</span>
                <h1>We Defend Your Business Against Ever-Evolving Cyber-Threats</h1>
                <p>We devise adaptive solutions for companies of all sizes.</p>
                <a routerLink="/about" class="default-btn">
                  Discover More <i class="flaticon-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="banner-image">
                <img src="assets/img/banner/banner-img3.png" alt="banner-image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
