<div class="about-area pt-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="about-img" style="background-image: url(assets/img/about/about2.jpg);">
          <img src="assets/img/about/about2.jpg" alt="about-image">
          <img src="assets/img/experience.png" alt="experience" class="experience">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-text">
          <span class="sub-title">ABOUT US</span>
          <h2>We Offer Professional Solutions For Your Business</h2>
          <p>Extracle Infosys is an innovative recruiting firm providing top-tier technical talent to the industry. We have
            grown from a small scale operation to recognized provider of IT services for recruiting and staffing
            industry experts, we are passionate about our mission to connect the greatest tech jobs with the most
            talented professionals.</p>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamt. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p> -->
          <div class="funfacts-list">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="box">
                  <h3>
                    <span>175</span><span class="sign">+</span>
                  </h3>
                  <p>Active Project</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="box">
                  <h3>
                    <span>120</span><span class="sign">+</span>
                  </h3>
                  <p>Expert Team</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="box">
                  <h3>
                    <span>30</span>
                  </h3>
                  <p>Years Experience</p>
                </div>
              </div>
            </div>
          </div>
          <a routerLink="/about" class="default-btn">
            View More About Us <i class="flaticon-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
