<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <span class="sub-title">MEET OUR LEADERSHIP PREPARING FOR YOUR SUCCESS</span>
            <h1>Our Team</h1>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Team</li>
            </ul>
        </div>
    </div>
    <div class="shape4"><img src="assets/img/shape//shape5.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape//shape6.png" alt="shape"></div>
</div>

<!-- Management Team Area -->
<div class="team-area bg-f7f8fc pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR EXPERTS</span>
            <h2>Management Team</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team1.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>James Anderson</h3>
                        <span>CEO & Founder</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i></a>
                            </li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team2.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Sarah Taylor</h3>
                        <span>PR and Consulting</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i></a>
                            </li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team3.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Alexander Doe</h3>
                        <span>Consultant</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i></a>
                            </li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team4.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Daisy Lucy</h3>
                        <span>Office Manager</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i></a>
                            </li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Operation Team Area -->
<div class="team-area bg-f7f8fc pb-75">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR EXPERTS</span>
            <h2>Operation Team</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team5.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Liam Payne</h3>
                        <span>Art Director</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team6.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Olivia Ava</h3>
                        <span>Support</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team7.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Emma Amelia</h3>
                        <span>Consultant</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-team-member">
                    <div class="image">
                        <img src="assets/img/team/team8.jpg" alt="team-member">
                    </div>
                    <div class="content">
                        <h3>Riley Nova</h3>
                        <span>Advisor</span>
                        <ul class="social">
                            <li><a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a></li>
                            <li><a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-community></app-community>

<app-subscribe></app-subscribe>