<div class="faq-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="faq-image" style="background-image: url(assets/img/faq.jpg);">
                    <img src="assets/img/faq.jpg" alt="faq-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="faq-content">
                    <span class="sub-title">QUESTIONS</span>
                    <h2>Don’t Hesitate to Ask Questions</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore consectetur adipiscing.</p>
                    <div class="accordion">
                        <accordion>
                            <accordion-group heading="What problem does your business solve?" [isOpened]="true">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                            <accordion-group heading="How does your business generate income?">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                            <accordion-group heading="What is your pricing strategy and why?">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                            <accordion-group heading="What is your client retention rate?">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                            <accordion-group heading="What is your social media strategy?">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ipsum dolor sit amet adipiscing elit.</p>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="shape2 d-none"
        [ngClass]="{'d-block': router.url === '/index-2'}"
    >
        <img src="assets/img/shape/shape2.png" alt="shape">
    </div>
</div>
