<!-- Default Community Section -->
<div
    class="community-area ptb-100 pb-0"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container">
        <div class="community-content">
            <span class="sub-title">GROW WITH US</span>
            <h2>What can we help you achieve?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a routerLink="/contact" class="default-btn">
                Let's Get To Work <i class="flaticon-right"></i>
            </a>
        </div>
    </div>
    <div class="community-image">
        <img src="assets/img/community.png" alt="community-image">
    </div>
    <div class="world-map"><img src="assets/img/world-map.png" alt="world-map"></div>
</div>

<!-- Community Section for Home Demo - 3 -->
<div
    class="community-area bg-image ptb-200 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="community-content white-color">
            <span class="sub-title">GROW WITH US</span>
            <h2>What can we help you achieve?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a routerLink="/contact" class="default-btn">
                Let's Get To Work <i class="flaticon-right"></i>
            </a>
        </div>
    </div>
    <div class="funfacts-shape1"><img src="assets/img/experience-funfacts/funfacts1.jpg" alt="funfacts-shape"></div>
    <div class="funfacts-shape2"><img src="assets/img/experience-funfacts/funfacts2.jpg" alt="funfacts-shape"></div>
    <div class="funfacts-shape3"><img src="assets/img/experience-funfacts/funfacts3.jpg" alt="funfacts-shape"></div>
    <div class="funfacts-shape4"><img src="assets/img/experience-funfacts/funfacts4.jpg" alt="funfacts-shape"></div>
</div>