<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <span class="sub-title">FORGOT PASSWORD</span>
            <h1>My Account</h1>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Password</li>
            </ul>
        </div>
    </div>
    <div class="shape4"><img src="assets/img/shape//shape5.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape//shape6.png" alt="shape"></div>
</div>

<!-- Profile Authentication Area -->
<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="forgot-password-box">
            <p>Forgot your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
            <form>
                <label>Username or email</label>
                <input type="text" class="form-control">
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>