<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <span class="sub-title">WE ARE DOING ALL THE WORK</span>
            <h1>Portfolio</h1>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Portfolio</li>
            </ul>
        </div>
    </div>
    <div class="shape4"><img src="assets/img/shape//shape5.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape//shape6.png" alt="shape"></div>
</div>

<!-- Portfolio Area -->
<div class="portfolio-area ptb-100">
    <div class="container">
        <div class="single-portfolio-box">
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 col-md-12 p-0 image">
                    <a routerLink="/portfolio-details" class="d-block">
                        <img src="assets/img/portfolio/portfolio1.jpg" alt="portfolio-image">
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 p-0 content">
                    <div class="number">
                        01
                    </div>
                    <h3><a routerLink="/portfolio-details">Financial Consultancy</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim. Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim.</p>
                    <a routerLink="/portfolio-details" class="default-btn">
                        Details <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="single-portfolio-box">
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 col-md-12 p-0 content">
                    <div class="number">
                        02
                    </div>
                    <h3><a routerLink="/portfolio-details">Strategy Consultancy</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim. Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim.</p>
                    <a routerLink="/portfolio-details" class="default-btn">
                        Details <i class="flaticon-right"></i>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 p-0 image">
                    <a routerLink="/portfolio-details" class="d-block">
                        <img src="assets/img/portfolio/portfolio2.jpg" alt="portfolio-image">
                    </a>
                </div>
            </div>
        </div>
        <div class="single-portfolio-box">
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 col-md-12 p-0 image">
                    <a routerLink="/portfolio-details" class="d-block">
                        <img src="assets/img/portfolio/portfolio3.jpg" alt="portfolio-image">
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 p-0 content">
                    <div class="number">
                        03
                    </div>
                    <h3><a routerLink="/portfolio-details">Organizational Consultancy</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim. Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim.</p>
                    <a routerLink="/portfolio-details" class="default-btn">
                        Details <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="single-portfolio-box">
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 col-md-12 p-0 content">
                    <div class="number">
                        04
                    </div>
                    <h3><a routerLink="/portfolio-details">Tax Consultancy</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim. Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim.</p>
                    <a routerLink="/portfolio-details" class="default-btn">
                        Details <i class="flaticon-right"></i>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 p-0 image">
                    <a routerLink="/portfolio-details" class="d-block">
                        <img src="assets/img/portfolio/portfolio4.jpg" alt="portfolio-image">
                    </a>
                </div>
            </div>
        </div>
        <div class="single-portfolio-box">
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 col-md-12 p-0 image">
                    <a routerLink="/portfolio-details" class="d-block">
                        <img src="assets/img/portfolio/portfolio5.jpg" alt="portfolio-image">
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 p-0 content">
                    <div class="number">
                        05
                    </div>
                    <h3><a routerLink="/portfolio-details">Business Consultancy</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim. Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim.</p>
                    <a routerLink="/portfolio-details" class="default-btn">
                        Details <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="single-portfolio-box">
            <div class="row m-0 align-items-center">
                <div class="col-lg-6 col-md-12 p-0 content">
                    <div class="number">
                        06
                    </div>
                    <h3><a routerLink="/portfolio-details">Marketing Consultancy</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim. Lorem ipsum dolor sit amet, consectet ur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim.</p>
                    <a routerLink="/portfolio-details" class="default-btn">
                        Details <i class="flaticon-right"></i>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 p-0 image">
                    <a routerLink="/portfolio-details" class="d-block">
                        <img src="assets/img/portfolio/portfolio6.jpg" alt="portfolio-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>