<!-- Default Services -->
<div class="services-area" [ngClass]="{'d-none': router.url === '/' || router.url === '/index-3'}" style="margin-bottom: 25px;">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">OUR SERVICES</span>
      <h2>What Can We Do For You</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-business"></i>
          </div>
          <h3><a routerLink="/it-staffing-and-consulting"> IT Staffing & Consulting</a></h3>
          <p> Extracle Infosys has extensive capabilities in the IT staffing and consulting
            landscape.</p>
          <a routerLink="/it-staffing-and-consulting" class="link-btn">
            Read More <i class="flaticon-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-financial-advisor"></i>
          </div>
          <h3><a routerLink="/testing-and-qa"> Testing & QA</a></h3>
          <p>Automated & Manual testing to ensure great user experience for any product.</p>
          <a routerLink="/testing-and-qa" class="link-btn">
            Read More <i class="flaticon-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-business-1"></i>
          </div>
          <h3><a routerLink="/it-training-services">IT Training Services</a></h3>
          <p>Skill enhancement, career development and personalized training for IT career aspirants.</p>
          <a routerLink="/it-training-services" class="link-btn">
            Read More <i class="flaticon-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-work-process"></i>
          </div>
          <h3><a routerLink="/devops-services">Devops Services</a></h3>
          <p>Create and deliver products faster with KuebikoIT DevOps services and automation.</p>
          <a routerLink="/devops-services" class="link-btn">
            Read More <i class="flaticon-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-acquisition"></i>
          </div>
          <h3><a routerLink="/development-services">Development Services</a></h3>
          <p>Web and Mobile application development for custom business requirements.</p>
          <a routerLink="/development-services" class="link-btn">
            Read More <i class="flaticon-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-revenue"></i>
          </div>
          <h3><a routerLink="/career-placement">Career Placement</a></h3>
          <p>Find & capture career opportunities in the IT industry to frame a successful career.</p>
          <a routerLink="/career-placement" class="link-btn">
            Read More <i class="flaticon-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="more-services-btn">
          <a routerLink="/services" class="default-btn">
            View More Services <i class="flaticon-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Services for Home Demo - 2 & 3 -->
<!-- <div class="services-area bg-image ptb-100 d-none"
  [ngClass]="{'d-block': router.url === '/index-2' || router.url === '/index-3'}">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">OUR TRAINING</span>
      <h2>Training Programs</h2>
    </div>
    <div class="services-slides">
      <owl-carousel-o [options]="servicesSlides">
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="image">
              <img src="assets/img/services/services1.jpg" alt="services-image">
            </div>
            <div class="content">
              <h3><a routerLink="/services-details">IT Desktop Specialist</a></h3>
              <p>A Technical Support Specialist is hired by a company to oversee and maintain their computer hardware
                and software systems.</p>
              <a routerLink="/services-details" class="link-btn">
                Read More <i class="flaticon-right"></i>
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="image">
              <img src="assets/img/services/services2.jpg" alt="services-image">
            </div>
            <div class="content">
              <h3><a routerLink="/services-details">Cloud Support Specialist</a></h3>
              <p>Accenture is a global professional services company with leading capabilities in digital, cloud and
                security.</p>
              <a routerLink="/services-details" class="link-btn">
                Read More <i class="flaticon-right"></i>
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="image">
              <img src="assets/img/services/services3.jpg" alt="services-image">
            </div>
            <div class="content">
              <h3><a routerLink="/services-details">Network Security Analyst</a></h3>
              <p>A network security analyst is an individual who protects a company's technology from cybersecurity
                risks.</p>
              <a routerLink="/services-details" class="link-btn">
                Read More <i class="flaticon-right"></i>
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="image">
              <img src="assets/img/services/services4.jpg" alt="services-image">
            </div>
            <div class="content">
              <h3><a routerLink="/services-details">Cyber Security Analyst</a></h3>
              <p>A cybersecurity analyst is a trained cyberprofessional who specializes in network and IT infrastructure
                security.</p>
              <a routerLink="/services-details" class="link-btn">
                Read More <i class="flaticon-right"></i>
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="image">
              <img src="assets/img/services/services5.jpg" alt="services-image">
            </div>
            <div class="content">
              <h3><a routerLink="/services-details">Video Conferencing</a></h3>
              <p>Video conferencing is live, visual connection between two or more remote parties over the internet that
                simulates a face-to-face meeting.</p>
              <a routerLink="/services-details" class="link-btn">
                Read More <i class="flaticon-right"></i>
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="image">
              <img src="assets/img/services/services6.jpg" alt="services-image">
            </div>
            <div class="content">
              <h3><a routerLink="/services-details">Sales & Marketing</a></h3>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>
              <a routerLink="/services-details" class="link-btn">
                Read More <i class="flaticon-right"></i>
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="single-services-item">
            <div class="image">
              <img src="assets/img/services/services7.jpg" alt="services-image">
            </div>
            <div class="content">
              <h3><a routerLink="/services-details">Drive Revenue Growth</a></h3>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>
              <a routerLink="/services-details" class="link-btn">
                Read More <i class="flaticon-right"></i>
              </a>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <div class="shape1" [ngClass]="{'d-none': router.url === '/index-3'}">
    <img src="assets/img/shape/shape1.png" alt="shape">
  </div>
</div> -->
