<div class="home-area">
    <div class="home-slides">
        <owl-carousel-o [options]="homeSlides">
            <ng-template carouselSlide>
                <div class="main-banner-area" style="background-image: url(assets/img/banner/banner-bg1.jpg);">
                    <div class="container-fluid">
                        <div class="main-banner-content">
                            <span class="sub-title">THROUGH CHANGES</span>
                            <h1>Helping Small Business Grow Big</h1>
                            <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammeled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.</p>
                            <a routerLink="/about" class="default-btn">
                                Discover More <i class="flaticon-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="main-banner-area" style="background-image: url(assets/img/banner/banner-bg2.jpg);">
                    <div class="container-fluid">
                        <div class="main-banner-content">
                            <span class="sub-title">WE FOCUS ON RESULTS</span>
                            <h1>Only High-Quality Ideas & Results</h1>
                            <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammeled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.</p>
                            <a routerLink="/about" class="default-btn">
                                Discover More <i class="flaticon-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="container-fluid">
        <div class="banner-box">
            <h2>Change Your Trajectory</h2>
            <ul>
                <li>Equity and Inclusion</li>
                <li>Future of Work</li>
                <li>Transformation</li>
                <li>Executive Coaching</li>
                <li>Private Equity</li>
                <li>Leadership</li>
                <li>Post-merger Integration</li>
                <li>Business Strategy</li>
            </ul>
            <a routerLink="/services" class="default-btn">
                View More <i class="flaticon-right"></i>
            </a>
        </div>
    </div>
</div>