<div class="banner-wrapper-area" style="background-image: url(assets/img/banner/banner-bg.jpg);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-content">
                    <span class="sub-title">THROUGH CHANGES</span>
                    <h1>Shaping The Future of Small Business</h1>
                    <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammeled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed.</p>
                    <a routerLink="/about" class="default-btn">
                        Discover More <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-image">
                    <img src="assets/img/banner/banner-img4.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
    <div class="shape4"><img src="assets/img/shape/shape5.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape/shape6.png" alt="shape"></div>
    <div class="shape6"><img src="assets/img/shape/shape7.png" alt="shape"></div>
</div>