<div class="feedback-area ptb-100">
    <div class="container">
        <div class="section-title white-color">
            <span class="sub-title">FEEDBACK</span>
            <h2>What Our Clients Say About Us</h2>
        </div>
        <div class="feedback-slides">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>But I must explain to you how all this mist idea of denouncing pleasure and praising pain was born and I will give you a colete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes.</p>
                        <div class="client-info d-flex align-items-center">
                            <img src="assets/img/user/user1.jpg" alt="user">
                            <div class="title">
                                <h3>Jadid Luis</h3>
                                <span>Marketing Lead</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>But I must explain to you how all this mist idea of denouncing pleasure and praising pain was born and I will give you a colete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes.</p>
                        <div class="client-info d-flex align-items-center">
                            <img src="assets/img/user/user2.jpg" alt="user">
                            <div class="title">
                                <h3>Sarah Taylor</h3>
                                <span>Web Lead</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>But I must explain to you how all this mist idea of denouncing pleasure and praising pain was born and I will give you a colete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes.</p>
                        <div class="client-info d-flex align-items-center">
                            <img src="assets/img/user/user3.jpg" alt="user">
                            <div class="title">
                                <h3>James Andy</h3>
                                <span>Design Lead</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>But I must explain to you how all this mist idea of denouncing pleasure and praising pain was born and I will give you a colete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes.</p>
                        <div class="client-info d-flex align-items-center">
                            <img src="assets/img/user/user4.jpg" alt="user">
                            <div class="title">
                                <h3>David Warner</h3>
                                <span>Marketing Lead</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>