<!-- Page Title -->
<div class="page-title-area">
  <div class="container">
      <div class="page-title-content">
          <span class="sub-title">WE OFFER PROFESSIONAL COURSES FOR YOUR KICK START</span>
          <h1>Our Courses</h1>
          <ul>
              <li>
                  <a routerLink="/">
                      Home
                  </a>
              </li>
              <li>Courses</li>
          </ul>
      </div>
  </div>
  <div class="shape4"><img src="assets/img/shape//shape5.png" alt="shape"></div>
  <div class="shape5"><img src="assets/img/shape//shape6.png" alt="shape"></div>
</div>

<app-courses></app-courses>
