<div class="services-area bg-f9f9f9 ptb-100">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">COURSES</span>
      <h2>Our Popular Courses</h2>
      <div class="bar"></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-item">
          <div class="image">
            <img src="assets/img/course/java.png" alt="java-image">
          </div>
          <div class="content">
            <h3><a routerLink="/java-full-stack-developer">Java Full Stack Developer</a></h3>
            <p>A Java Full Stack Developer is a developer who has expertise and deep knowledge of frameworks and tools
              used in Java full stack development like Core Java, servlets, APIs, database, web architecture, etc.</p>
            <a routerLink="/java-full-stack-developer" class="link-btn">
              Read More <i class="flaticon-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-item">
          <div class="image">
            <img src="assets/img/course/python.png" alt="python-image">
          </div>
          <div class="content">
            <h3><a routerLink="/python">Python</a></h3>
            <p>Python is by far, the most preferred programming language in Artificial Intelligence, Big Data, Internet
              of Things, Robotics and Web Development. By training you to become an Python Developer.</p>
            <a routerLink="/python" class="link-btn">
              Read More <i class="flaticon-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-item">
          <div class="image">
            <img src="assets/img/course/qa.jpg" alt="qa-image">
          </div>
          <div class="content">
            <h3><a routerLink="/quality-assurance">Quality Assurance (QA)</a></h3>
            <p>Quality Assurance testing or software testing exists to confirm that the product being built is the
              product that the client wants and is released with no bugs. Quality Assurance is popularly known as QA
              Testing.</p>
            <a routerLink="/quality-assurance" class="link-btn">
              Read More <i class="flaticon-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-item">
          <div class="image">
            <img src="assets/img/course/data-analyst.jpg" alt="data-analyst-image">
          </div>
          <div class="content">
            <h3><a routerLink="/data-analyst">Data Analyst</a></h3>
            <p>A data analyst analyses data sets to find ways to solve problems relating to a business's customers. The
              employment of these individuals encompasses many different industries such as business, finance, criminal
              justice, science, medicine, and government.</p>
            <a routerLink="/data-analyst" class="link-btn">
              Read More <i class="flaticon-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-item">
          <div class="image">
            <img src="assets/img/course/data-engineer.jpg" alt="data-engineer-image">
          </div>
          <div class="content">
            <h3><a routerLink="/services-details">Data Engineer</a></h3>
            <p>A Data Engineer should be able to design, build, operationalize, secure, and monitor data processing
              systems with a particular emphasis on security and compliance scalability and efficiency and reliability and
              flexibility and portability.</p>
            <a routerLink="/services-details" class="link-btn">
              Read More <i class="flaticon-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-item">
          <div class="image">
            <img src="assets/img/course/Data-Scientist.png" alt="Data-Scientist-image">
          </div>
          <div class="content">
            <h3><a routerLink="/services-details">Data Scientist</a></h3>
            <p>Data scientists are big data wranglers, gathering and analyzing large sets of structured and unstructured
              data. A data scientist’s role combines computer science, statistics, and mathematics. They analyze,
              process, and model data.</p>
            <a routerLink="/services-details" class="link-btn">
              Read More <i class="flaticon-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
