<div class="testimonials-area ptb-100" style="background-image: url(assets/img/testimonials-bg.jpg);">
    <div class="container">
        <div class="section-title text-start">
            <span class="sub-title">TESTIMONIALS</span>
            <h2>What Our Clients Say About Us</h2>
        </div>
        <div class="testimonials-slides">
            <owl-carousel-o [options]="testimonialsSlides">
                <ng-template carouselSlide>
                    <div class="single-testimonials-box">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                        <div class="client-info d-flex align-items-center">
                            <img src="assets/img/user/user1.jpg" alt="user">
                            <div class="title">
                                <h3>Jadid Luis</h3>
                                <span>Marketing Lead</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonials-box">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                        <div class="client-info d-flex align-items-center">
                            <img src="assets/img/user/user2.jpg" alt="user">
                            <div class="title">
                                <h3>Sarah Taylor</h3>
                                <span>Web Lead</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonials-box">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                        <div class="client-info d-flex align-items-center">
                            <img src="assets/img/user/user3.jpg" alt="user">
                            <div class="title">
                                <h3>James Andy</h3>
                                <span>Design Lead</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>